<h1 style="text-align: center">Here are the awesome quotes!</h1>

@foreach(var user in @ViewBag.AllUsers)
{
    <div style="border: 2px solid black;">
        <b> <p style="text-align: center;">@user["Name"]</p> </b>
        <p style="text-align: center;">@user["Quote"]</p>
    </div>
}

<a href="/"><button class="btn btn-primary">Add a quote!</button></a>